.alexia-cao td img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.alexia-cao .icon-left {
    padding-left: 0;
    text-align: right;
  }

.alexia-cao .icon-right {
    padding-right: 0;
    text-align: left;
  }

.alexia-cao .small-caps span {
    font-variant: small-caps;
}

.alexia-cao .fixed p td{
    max-width: 250px;
}

.alexia-cao .cell-hyphens {
  word-wrap: break-word;
  max-width: 300px;
  -webkit-hyphens: auto; /* iOS 4.2+ */
  -moz-hyphens: auto; /* Firefox 5+ */
  -ms-hyphens: auto; /* IE 10+ */
  hyphens: auto;
  padding-right: 20px;
}

.alexia-cao .icon-up {
  vertical-align: top;
}
  
